h1{
    font: bolder 20pt   Arial;

}
h2 {
    text-align: left;
    font: normal 18pt Arial;
    

}
h3 {
    font: normal 16pt   Arial;
    


}

h4{
    font: normal 14pt   Arial;
    text-align: left

}